.contactItem {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  color: #212121; 
  cursor: pointer;

  transition: background-color 250ms linear;
}

.contactItem:hover {
  background-color: lightgrey;
}